*{
    margin: 0;
    padding: 0;
}

.head{ 
    background-color: rgb(73, 73, 73);
    color: white;
    text-align: center;
    font-family: Helvetica;
    height: 5rem;
    line-height: 5rem;
    font-size: 2.1rem;
}


.color-container {
    border-radius: 10px;
    margin: 2rem auto;
    width: 16rem;
    height: 21.6rem;
    background-color: rgb(226, 226, 226);
}



.color {
    border-radius: 10px;
    position: relative;
    top: 1.6rem;
    margin: 4rem auto;
    width: 13rem;
    height: 14rem;
    background-color: white;
}

.color-code {
    position: relative;
    top: -22px;
    height: 2.2rem;
    width: 8rem;
    margin: auto;
    text-align: center;
    font-family: Arial;
    color: #434343;
    font-size: x-large;
    line-height: 2.2rem;
    border-radius: 5px;
    background-color: white;
}


.copy {
    cursor: pointer;
    font-family: arial;
    font-size: smaller;
    line-height: 22px;
    margin: auto;
    position: relative;
    bottom: 12px;
    height: 1.5rem;
    width: 9rem;
    color: #434343;
    text-align: center;
    border-radius: 4px;
    background-color: white;

}


.generate-container {
    display: flex;
    justify-content: center;
}

.generate-container button {
    cursor: pointer;
    font-size: large;
    font-weight: 550;
    color: white;
    background-color: rgb(73, 73, 73);
    border-radius: 5px;
    width: 9rem;
    height: 3.3rem;
    border: none;
}



.generate-container button:hover {
    background-color: darkgray;
}

.copy:hover {
    background-color: rgb(194, 194, 194);
}